div[slot="fixed"] {
    bottom: 0; width: 100%; background: white;

    ion-input {
        width: 80%;
        float: left;
    }
    
    ion-icon {
        font-size: 40px;
        cursor: pointer;
        margin: 2px 12px;
        float: right;
    }
}
