<ion-content >
    <h2>Chat con la dirección:</h2> 
    <h6>{{addressReceiver}}</h6>

    <ion-list style="margin-bottom: 3em;">
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 6</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 6</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><sub>11/10 02:26 </sub> Mensaje 6</ion-label>
      </ion-item>
    </ion-list>
    <div slot="fixed">
      <ion-input [(ngModel)]="message" placeholder="Enviar mensaje"></ion-input>
      <ion-icon name="paper-plane-outline"></ion-icon>
    </div>
</ion-content>
