<ion-content >
    <h2>Chat con la dirección:</h2> 
    <h6>{{addressReceiver}}</h6>

    <ion-list style="margin-bottom: 3em;" *ngIf="conversation" >
      <ion-item *ngFor ="let message of conversation.messages" >
        <ion-label><sub>{{ message.date*1000 | date:'M/d, h:mm'}}</sub> {{message.text}}</ion-label>
      </ion-item>
    </ion-list>
    <div slot="fixed">
      <ion-input (keyup.enter)="send()" [(ngModel)]="message" placeholder="Enviar mensaje"></ion-input>
      <ion-icon (click)="send()" name="paper-plane-outline"></ion-icon>
    </div>
</ion-content>
